.wrapper {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #131316;
}

.wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    mask: linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.image {
    height: 100%;
    width: auto;
}

.count {
    position: absolute;
    z-index: 9999;
}