.constructor-block {
  display: flex;
  flex-direction: column;

  padding: 100px 16px 52px 16px;
}

.constructor-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 10px 0;
  margin-right: -8px;
  padding-right: 8px;
  margin-left: -32px;


  overflow-y: scroll;
}

.constructor-item {
  display: flex;
  align-items: center;
  gap: 8px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 8px;
}
